:root {
	--DarkBlue: rgb(24, 66, 100);
	--AccentBlue: steelblue;
	--DefaultTextColor: #444;
	--AccentGray: #999;
	--TechColor: #415b83;
}

* {
	font-family: Calibri;
	font-size: 13px;
	letter-spacing: 0.015em;
	color: var(--DefaultTextColor);
}

body {
	width: 100%;
	height: 100vh;
	margin: 0;
	/* background-color: #32324d; */
	background-color: white;
	font-family: Tahoma;
	font-size: 16px;
}

h1, h2, p {
	margin: 1em auto;
	text-align: left;
}

.page {
	padding: 10px 20px 0 20px;
	background-color: #fff;
	max-width: 750px;
	margin: 30px auto 0px auto;
	/* box-shadow: 0px 0px 10px 8px #222; */
}

.main-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100px;
}

.header-container {
	margin-top: 12px;
	margin-left: 10px;
}

.header-name {
	font-size: 40px;
	font-weight: bold;
	border-right: 2px solid var(--AccentGray);
	padding-right: 15px;
	color: var(--DarkBlue);
}

.header-job {
	font-size: 22px;
	font-weight: bold;
	margin: auto 10px;
	color: var(--AccentGray);
}

.contact-container {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.contact-item {
	vertical-align: middle;
	margin: 3px 0;
}

.contact-icon {
	vertical-align: middle;
	padding: 0 0 0 7px;
	margin-top: -3px;
	width: 18px;
	height: 18px;
}

.profile-container {
	border-top: 1px solid var(--AccentBlue);
	margin: 0px auto;
	padding-bottom: 15px;
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.profile-brace {
	font-family: 'Courier New', Courier, monospace;
	font-size: 90px;
	margin-top: 8px;
	margin-left: -5px;
	font-weight: lighter;
	color: steelblue
}

.profile-quote {
	padding-top: 25px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 1.1em;
	font-weight: normal;
	color: #666;
	text-align: center;
}

.section-container {
	display: flex;
	flex-direction: row;
	margin-left: 0px;
}

.exp-title {
	color: var(--DarkBlue);
	padding: 0px 0px 5px 20px;
	margin-bottom: 8px;
	font-weight: lighter;
	letter-spacing: 0.2em;
	font-size: 2em;
	text-align: left;
	vertical-align: middle;
}

.exp-heading {
	border-left: 4px solid var(--AccentBlue);
	/* border-top: 2px solid var(--AccentBlue); */
	padding-top: 2px;
	margin-left: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: linear-gradient(rgb(221, 221, 221), #fff);
}

.exp-company {
	font-weight: normal;
	font-size: 1.2em;
	margin: 2px 10px 0 0;
}

.exp-name {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.exp-role {
	font-style: italic;
	font-size: 1.2em;
	font-weight: normal;
	margin-left: 10px;
	color: var(--DarkBlue);
}

.exp-rightside {
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-right: 5px;
}

.exp-date {
	font-size: 1em;
	color: var(--DarkBlue);
	margin: 2px;
	font-weight: bold;
}

.exp-location {
	font-size: 1em;
	color: var(--DarkBlue);
	margin-right: 2px;
	font-weight: normal;
}

.exp-description {
	margin: 8px 20px 25px 25px;
	font-size: 1.2em;
}

.exp-item {
	text-indent: -14px;	
	margin: 4px 0px;
}

.sidebar {
	background-color: var(--DarkBlue);
	border-radius: 5px 20px 0 0;
	min-width: 220px;
	margin-bottom: 0;
}

.tech-title {
	color: var(--TechColor);
	margin-left: 5px;
	margin-right: 10px;
	margin-top: 2px;
}

.tech-item {
	color: var(--TechColor);
	margin: 0px 4px;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 2px 4px;
}

.sidebar-title {
	color: white;
	margin-bottom: 8px;
	margin-top: 7px;
	margin-left: 16px;
	font-weight:lighter;
	letter-spacing: 0.2em;
	font-size: 2em;
	text-align: left;
}

.sidebar-section {
	margin-left: 10px;
	margin-bottom: 20px;
	display: flex;
	flex-direction: column;
}

.skill-item
{
	padding: 5px 5px;
	font-size: 1.2em;
	font-weight: lighter;
	color: white;
}

.edu-item
{
	padding-left: 22px;
	text-indent: -17px;	
	font-size: 1.2em;
	font-weight: normal;
	color: white;
}

.edu-subject {
	padding-left: 22px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 1.2em;
	font-weight: lighter;
	color: rgb(206, 206, 206);
}

.edu-year {
	padding-left: 22px;
	font-size: 1.2em;
	font-weight: lighter;
	color: rgb(145, 145, 145);
}

.ref-title {
	color: rgb(219, 217, 69);
	margin-top: 20px;
	margin-left: 17px;
	margin-right: 60px;
	font-weight: lighter;
	font-size: 1.3em;
	text-align: left;
}
